@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
/* Main body */
body {
	font-family: 'Julius Sans One', sans-serif;
	margin:0;
	text-align:center;
	height: 100%;
}

/* Headings within nav */
ul {
		background-color:#808080;
		padding-left:0;
		opacity: 0.5;
}
/* Nav ID */
#nav-menu {
	width:100%;
	display:none;
}
/* Within nav*/
ul li {
	display:block;
	margin:20px auto;
	border-bottom:1px solid white;
}
/* Within nav */
ul li a {
	font-size:18px;
	text-decoration:none;
	margin:20px auto;
	color:black;
	display:block;

}
/* Within nav */
ul li a img {
	width:100px;
}
ul li:not(:first-child){
	border-top:1px solid white;
}

ul li a img{
	margin-bottom: -25px;
}

ul li:not(:first-child):hover {
	background-color:white;
}

/* Within Main/body */
main {
	background-image: url("ja.jpeg");
	height:100vh;
	background-repeat: no-repeat;
	background-position: center;
}

p{
	max-width: 700px;
	margin: 0 auto;
	float: none;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
	margin: auto;
}
/* Style the submit button */
input[type=submit] {
    background-color: #DCDCDC;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker color */
input[type=submit]:hover {
    background-color: #515151;
}

/* Add a background color and some padding around the form */
.container {
    max-width: 800px;
    margin: auto;
    padding: 50px;
}

footer {
   width:100%;
}

/* Moblie/Tablet View */
@media screen and (min-width: 750px) {
#menu-open-close{
	display:none;
}

#nav-menu {
	display:block;
	border-bottom:2px solid white;
}

ul{
	width:100%;
}
ul li {
	display:inline-block;
	padding-left:25px;
	padding-right:25px;
	text-align:left;
	}
}

/*Light Bulb SVG*/ 
#altogether {
	width:20%;
	animation: scale 2s infinite;
}
#world {
	animation: rotate 3s ease-in-out infinite;
	transform-origin: center;
}

.lgts {
	opacity:0;
	fill:red;
	animation: example 1s infinite;
}

.lgts:nth-child(1) { animation-delay: .2s }
.lgts:nth-child(2) { animation-delay: .6s }
.lgts:nth-child(3) { animation-delay: .8s }
.lgts:nth-child(4) { animation-delay: .10s }
.lgts:nth-child(5) { animation-delay: 1.2s }
.lgts:nth-child(6) { animation-delay: 1.4s }
.lgts:nth-child(7) { animation-delay: 1.6s }
.lgts:nth-child(8) { animation-delay: 1.8s }
.lgts:nth-child(9) { animation-delay: 1.10s }

@keyframes example {
    10% {opacity:1;}
    50% {fill: yellow;}
}

@keyframes rotate {
	50% {transform: rotate(180deg);}
	100% {transform: rotate(359deg);}
}

@keyframes scale {
	20% { transform: scale(1.1); }
}
/* flexbox within the experiencepage */
.flex-container {
	display: flex;
	justify-content: center;
	background-color: #808080;
  }
  
  .flex-container>div {
	background-color: #f1f1f1;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
  }
/* edited text from experiencepage */
  .table {
    display:table;
	width:94%;
	background-color: lightgrey;
    border: 15px solid #808080;
    padding: 25px;
    margin: 2px;
}

.tr {
    display:table-row;
}

.d1 {
	display:table-cell;
	text-align:left;
	width:15%;
}

.d2 {
    display:table-cell;
    text-align:center;
	width:20%;	
}

.d3 {
    display:table-cell;
    text-align:right;
    width:20%;
}

/*buttons within qualificationpage */
.button {
	padding: 15px 25px;
	font-size: 24px;
	color: #fff;
	background-color: #515151;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #000000}
  
  .button:active {
	background-color: #515151;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }

  .button1 {
	padding: 15px 25px;
	font-size: 24px;
	color: #fff;
	background-color: #515151;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
  }
  
  .button1:hover {background-color: #000000}
  
  .button1:active {
	background-color: #515151;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }

  .button2 {
	
	padding: 15px 25px;
	font-size: 24px;
	color: #fff;
	background-color: #515151;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
  }
  
  .button2:hover {background-color: #000000}
  
  .button2:active {
	background-color: #515151;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }

  .button3 {
	padding: 15px 25px;
	font-size: 24px;
	color: #fff;
	background-color: #515151;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
  }
  
  .button3:hover {background-color: #000000}
  
  .button3:active {
	background-color: #515151;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }

  .button4 {
	padding: 15px 25px;
	font-size: 24px;
	color: #fff;
	background-color: #515151;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
  }
  
  .button4:hover {background-color: #000000}
  
  .button4:active {
	background-color: #515151;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }
