@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

body{
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 10px; 
    background: url(ja.jpeg) no-repeat;
	background-size:100%;
	width: 70%;
	margin: 0 auto;
	
    
}
nav {
    width:  100%;
    opacity: 0.5;
    background-size: cover;
    background: #B7B7B7; 
    height:100px;
}

nav ul li {
    list-style: none;
    display: inline;
    font-weight: bold;
    padding: 15px;
    
}
nav a{
    font-size:14px;
    color: white;
    text-decoration: none;
    padding: 10px;
}
nav ul li:not(:first-child) :hover{
    background: #f88b8b;
    transition: all 0.45s;
	
}
h1{
	text-align: center;
	margin-top:100px;
	padding-bottom:10px;
	border-bottom: 3px solid #f88b8b;
}
P{
    text-align: center;
	margin:80px 100px;
}

footer{
	position:absolute;
	bottom:0;
    min-height: 100px;
    
	
}
header menu body footer{
    margin-left: 10%;
    margin-right: 10%;

}
nav img {
    margin-bottom:-50px;
    width:100px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}




@media screen and (max-width:320px){
	
	body {
		background-color:green;
	}
	
	button {
		width:100%;
	}
	form {
		width:100%;
		
	}
	footer {
		width:100%;
	}
	
}

@media screen and (min-width:321px) and (max-width:768px)
	
	body {
		background-color:blue;
	}
	
}